p {
    font-family: 'Helvetica', Times, serif;
    font-size: larger;
}

#questions {
    width: 20%;
    text-align: center;
    display: block;
    margin-left: 40%;
    margin-right: auto;
}

input {
    width: 200px;
    margin-top: 1px;
    margin-bottom: 1px;
    border: 1px black solid;
    border-radius: 3px;
}